# Bobthefish vars
set -g theme_title_use_abbreviated_path yes
set -g theme_show_exit_status yes
set -g fish_prompt_pwd_dir_length 0
set -g theme_color_scheme base16
set -g theme_nerd_fonts yes
set -g theme_date_format "+%a %H:%M"

# aliases
function diff ; colordiff $argv ; end
function less ; most $argv ; end
function ls ; exa -F $argv ; end
function lr ; exa -RT $argv ; end
function ll ; exa -alhFg --git ; end
function la ; exa -aF ; end

{# for some reason, fish doesn't like tmux
if status is-interactive
  and not set -q TMUX
    exec tmux
end 
#}
